@font-face {
    font-family: 'lato';
    src: url('./lato-regular-latin.woff2') format('woff2'),
         url('./lato-regular-latin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
